/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
$background-color:      #fff !default;
$body-bg:               $background-color;
$panel-bg:              $background-color;

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
$navbar-inverse-link-color: $brand-info;
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.link {
  fill: none;
  stroke-width: 2px;
}

.link.working {
  stroke: $brand-success;
}

.link.broken {
  stroke: $brand-danger;
}

circle {
  stroke: black;
  stroke-opacity:0.5
}

circle.broken {
  fill: $brand-danger;
  animation: strokenormalize 10s ease 1;
}

circle.working {
  fill: $brand-success;
  animation: strokenormalize 10s ease 1;
}

@keyframes strokeanimation {
  0% { stroke-width: 0.6px; }
  25% { stroke-width: 13.6px; }
  50% { stroke-width: 0.6px; }
  65% { stroke-width: 6.6px; }
  100% { stroke-width: 0.6px; }
}

@keyframes strokenormalize {
  5% {  stroke: black;}
  100% {  stroke-width: 0.6px; }
}

circle.highlightworking {
  fill: $brand-success;
  stroke: $brand-success;
  animation: strokeanimation 1s ease infinite;
}

circle.highlightbroken {
  fill: $brand-danger;
  stroke: $brand-danger;
  animation: strokeanimation 1s ease infinite;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 darken($background-color,4%), 1px 0 0 darken($background-color,10%), 0 -1px 0 darken($background-color,10%), -1px 0 0 $background-color;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
